*{
  background-color: gray;
}

ul{
  float: left;
  margin: 50px;
  font-size: x-large;
}

li{
  font-size: large;
  list-style: circle;
}

td, th{
  text-align: center;
  border: 1px solid black;
  background-color: white;
}


table{
  border: 2px solid black;
}

td:first-child{
  font-weight: bold;
}

fieldset {
  border-radius: 20px;
}
